    
    
                </div>
            </div>
            
            </div>
            
            <div style="text-align: center; padding-bottom: 20px;">
                <p>Trademark Yelp Camp | <i class="copyright outline icon"></i> <em>Sri Teja Aluri</em></p>
            </div>
        </div>
        
    </body>
</html>